.main-content {
  margin-top: 0;
  padding-top: 60px;
  min-height: calc(100vh - 60px);
  transition: padding-top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar-scrolled + .main-content {
  padding-top: 50px;
  min-height: calc(100vh - 50px);
} 