 .loading-icon {
   height: 100dvh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #fff;
 }

 .loading-icon .icon {
   font-size: 2.5rem;
   animation: bounce 0.6s infinite alternate;
   color: #007aff;
   width: 50%;
   height: 100%;
 }

 @media (max-width: 500px) {

   .loading-icon .icon {
     font-size: 2.5rem;
     animation: bounce 0.6s infinite alternate;
     color: #007aff;
     width: 80%;
     height: 50%;
   }
 }